$brand-color: #01accd;
$tab-focus-color: #00cbff;
$white: #ffffff;
$grayscale1: #333;
$grayscale2: #424242;
$grayscale3: #999;
$grayscale4: #cccccc;
$headline-font-size: 18px;
$subheadline-font-size: 14px;
$success-color: #009444;
$danger-color: #db1f26;
$ads-color: #f9a71b;
$live-color: #da1f26;
$tooltip-bg-color: #fff;
$tooltip-color: $grayscale1;
$tooltip-margin: calc(100% + 10px);
$tooltip-arrow-height: 4px;
$tooltip-arrow-width: 5px;
$tooltip-semi-side-margin: 16px;
$tooltip-semi-side-arrow-margin: 11px;
$font-family: sans-serif;
$progress-bar-height: 4px;
$progress-bar-border-radius: $progress-bar-height / 2;
$spinner-circle-radius: 4px;
$spinner-colors: rgb(218, 31, 38), rgb(6, 168, 133), rgb(0, 147, 68), rgb(248, 166, 26), rgb(27, 74, 151), rgb(0, 171, 204), rgb(177, 210, 56),
  rgb(252, 210, 3);
$default-transition-time: 500;
$default-hovering-offset: 60px;

:export {
  brandColor: $brand-color;
  white: $white;
  progressBarHeight: $progress-bar-height;
  progressBarBorderRadius: $progress-bar-border-radius;
  defaultTransitionTime: $default-transition-time;
}
