.player .top-bar {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  color: #fff;
  opacity: 0;
  visibility: hidden;
  height: 0;
  transition: 100ms opacity;
  width: 100%;
  -ms-align-self: flex-start;
  align-self: flex-start;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;

  &.disabled {
    pointer-events: none;
  }
  &.hide {
    display: none;
  }

  .left-controls {
    float: left;
    text-align: left;
    min-width: 0;
    margin: 14px 0 14px 16px;
    &:empty {
      margin: 0;
    }
    pointer-events: none;
  }
  .right-controls {
    float: right;
    text-align: left;
    margin: 14px 16px 14px 0;
    &:empty {
      margin: 0;
    }
    pointer-events: none;

    .control-button-container {
      margin: 0 6px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.player.casting .top-bar,
.player.metadata-loaded.hover .top-bar,
.player.state-paused .top-bar,
.player.state-idle .top-bar,
.player.ad-break .top-bar,
.player.menu-active .top-bar {
  opacity: 1;
  visibility: visible;
  height: auto;
}

.player.overlay-active .gui-area .top-bar {
  opacity: 0;
  visibility: hidden;
  height: 0;
}

.player.size-sm {
  .player .top-bar {
    padding: 8px 8px 20px 8px;
  }
}

.top-bar,
.left-controls,
.right-controls {
  * {
    pointer-events: auto;
  }
}
